* {
  box-sizing: border-box;
}

html {
  background: #000;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-feature-settings: 'tnum';
}

code {
  font-size: 0.9em;
  padding: 0 0.3em;
}

a {
  color: #fff;
}

.hover-555:hover {
  background: #555;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

img {
  max-width: 100%;
}

/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}
